VelibIWS/GUIMonitor/GUIMonitor/Connected Services/MonitorRef/Monitor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Monitor" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8734/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8734/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMonitor_GetRequestToVelib_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestToVelib" />
  </wsdl:message>
  <wsdl:message name="IMonitor_GetRequestToVelib_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestToVelibResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitor_GetRequestFromClient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestFromClient" />
  </wsdl:message>
  <wsdl:message name="IMonitor_GetRequestFromClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestFromClientResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitor_GetCacheNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCacheNumber" />
  </wsdl:message>
  <wsdl:message name="IMonitor_GetCacheNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCacheNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitor_GetDelay_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDelay" />
  </wsdl:message>
  <wsdl:message name="IMonitor_GetDelay_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDelayResponse" />
  </wsdl:message>
  <wsdl:portType name="IMonitor">
    <wsdl:operation name="GetRequestToVelib">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitor/GetRequestToVelib" message="tns:IMonitor_GetRequestToVelib_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitor/GetRequestToVelibResponse" message="tns:IMonitor_GetRequestToVelib_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRequestFromClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitor/GetRequestFromClient" message="tns:IMonitor_GetRequestFromClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitor/GetRequestFromClientResponse" message="tns:IMonitor_GetRequestFromClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCacheNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitor/GetCacheNumber" message="tns:IMonitor_GetCacheNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitor/GetCacheNumberResponse" message="tns:IMonitor_GetCacheNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDelay">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitor/GetDelay" message="tns:IMonitor_GetDelay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitor/GetDelayResponse" message="tns:IMonitor_GetDelay_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="monitor" type="tns:IMonitor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRequestToVelib">
      <soap:operation soapAction="http://tempuri.org/IMonitor/GetRequestToVelib" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequestFromClient">
      <soap:operation soapAction="http://tempuri.org/IMonitor/GetRequestFromClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCacheNumber">
      <soap:operation soapAction="http://tempuri.org/IMonitor/GetCacheNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDelay">
      <soap:operation soapAction="http://tempuri.org/IMonitor/GetDelay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Monitor">
    <wsdl:port name="monitor" binding="tns:monitor">
      <soap:address location="http://localhost:8734/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>