VelibConsoleClient/VelibConsoleClient/Connected Services/VelibSoapRef/VelibService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VelibService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVelibService_GetStationsOfACity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStationsOfACity" />
  </wsdl:message>
  <wsdl:message name="IVelibService_GetStationsOfACity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationsOfACityResponse" />
  </wsdl:message>
  <wsdl:message name="IVelibService_GetStationInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStationInfo" />
  </wsdl:message>
  <wsdl:message name="IVelibService_GetStationInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IVelibService_GetHelp_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHelp" />
  </wsdl:message>
  <wsdl:message name="IVelibService_GetHelp_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHelpResponse" />
  </wsdl:message>
  <wsdl:portType name="IVelibService">
    <wsdl:operation name="GetStationsOfACity">
      <wsdl:input wsaw:Action="http://tempuri.org/IVelibService/GetStationsOfACity" message="tns:IVelibService_GetStationsOfACity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVelibService/GetStationsOfACityResponse" message="tns:IVelibService_GetStationsOfACity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStationInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IVelibService/GetStationInfo" message="tns:IVelibService_GetStationInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVelibService/GetStationInfoResponse" message="tns:IVelibService_GetStationInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHelp">
      <wsdl:input wsaw:Action="http://tempuri.org/IVelibService/GetHelp" message="tns:IVelibService_GetHelp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVelibService/GetHelpResponse" message="tns:IVelibService_GetHelp_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="service1" type="tns:IVelibService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStationsOfACity">
      <soap:operation soapAction="http://tempuri.org/IVelibService/GetStationsOfACity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStationInfo">
      <soap:operation soapAction="http://tempuri.org/IVelibService/GetStationInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHelp">
      <soap:operation soapAction="http://tempuri.org/IVelibService/GetHelp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VelibService">
    <wsdl:port name="service1" binding="tns:service1">
      <soap:address location="http://localhost:8733/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>